body{
	font-family: 'Arial';
}

.fish, .dog{
	color:red;
}

.box1text{
	font-size: 60px;
	margin: 0;
	font-weight: bold;
}

.box2text{
	font-size: 60px;
	margin: 0;
	color: white;
	background-color: #FA8072;
	font-weight: bold;
}

.box3text{
	font-size: 60px;
	margin: 0;
	color: white;
	background-color: #FA8072;
	font-weight: bold;
	margin: -120px 0 0 -150px;
}

.box4text{
	font-size: 30px;
	font-weight: bold;
}

.box1{
	background-color: #007FFF;
	width: 400px;
	padding: 50px;
	border: 20px solid black;
	box-sizing: border-box;
}

.box2{
	background-color: #007FFF;
	box-sizing: border-box;
	padding: 20px 70px 50px 10px;
	padding-top: 20px;
	padding-right: 40px;
	padding-bottom: 100px;
	padding-left: 30px;
	margin: 40px;
	border: 10px black dashed;
	border-top: 20px solid black;
	border-top-width: 30px;
	border-top-color: red;
}

.box3{
	background-color: #007FFF;
	box-sizing: border-box;
	padding: 50px;
	margin: 100px;
}

.box4{
	background-color: #007FFF;
	width: 400px;
	padding: 10px;
	margin: 0 auto;
    
}