.happy-face{
	height: 500px;
	animation-name: bounce;
	animation-duration: 1s;
	animation-iteration-count: 5;
}

/*defining keyframes animation*/
@keyframes bounce{
	30%{
		transform: translateY(-250px);
	}
	50%{
		transform: scale(1.5) rotate(10deg);
	}
}